*{
    margin: 0px;
    padding: 0px;
}
body{
    background:rgba(74, 68, 102, 0.445);
}
.header{
    width: 100%;
    height: 70px;
    background-color: rgba(9, 4, 37, 0.808);
    
}

.header .rightmenu{
    margin-top: -2%;
    float: right;
    height: 100px;
    width: 75%;
}
.rightmenu ul li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    list-style: none;
    font-size: 15px;
    color:white;
    font-weight: bold;
    line-height: -10px;
    margin-left: 70px;
    text-transform: uppercase;

}
.leftmenu img{
    margin-top: 1%;
    margin-left: 4%;
}

.carousel-slider{
    margin-top: 0px;
    width: 70%;
}